<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Hamza Rabah">


    {{!-- Preload assets --}}
    <link rel="preload" href="{{asset "css/app.css"}}" as="style" />
    <link rel="preload" href="{{asset "js/manifest.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/vendor.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/app.js"}}" as="script" />

    {{!-- This #block helper will try to preload page-specific assets --}}
    {{{block "preload"}}}

    {{!-- Styles & Scripts --}}
    <style>
      /* These font-faces are here to make fonts work if the Ghost instance is installed in a subdirectory */

      /* ibm-plex-sans-arabic-regular - latin_arabic */
      @font-face {
        font-family: 'IBM Plex Sans Arabic';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local(''),
        url("{{asset 'fonts/ibm-plex-sans-arabic/ibm-plex-sans-arabic-v9-latin_arabic-regular.woff2'}}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("{{asset 'fonts/ibm-plex-sans-arabic/ibm-plex-sans-arabic-v9-latin_arabic-regular.woff'}}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      /* ibm-plex-sans-arabic-600 - latin_arabic */
      @font-face {
        font-family: 'IBM Plex Sans Arabic';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: local(''),
        url("{{asset 'fonts/ibm-plex-sans-arabic/ibm-plex-sans-arabic-v9-latin_arabic-600.woff2'}}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("{{asset 'fonts/ibm-plex-sans-arabic/ibm-plex-sans-arabic-v9-latin_arabic-600.woff'}}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      /* ibm-plex-sans-arabic-700 - latin_arabic */
      @font-face {
        font-family: 'IBM Plex Sans Arabic';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: local(''),
        url("{{asset 'fonts/ibm-plex-sans-arabic/ibm-plex-sans-arabic-v9-latin_arabic-700.woff2'}}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("{{asset 'fonts/ibm-plex-sans-arabic/ibm-plex-sans-arabic-v9-latin_arabic-700.woff'}}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }

      /* iconmoon */
      @font-face {
        font-family: 'icomoon';
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3'}}");
        src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3#iefix'}}") format('embedded-opentype'),
        url("{{asset 'fonts/icomoon/icomoon.ttf?101fc3'}}") format('truetype'),
        url("{{asset 'fonts/icomoon/icomoon.woff?101fc3'}}") format('woff'),
        url("{{asset 'fonts/icomoon/icomoon.svg?101fc3#icomoon'}}") format('svg');
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />

    {{!-- This #block helper will inject a stylesheet for a specific page --}}
    {{{block "styles"}}}

    {{!-- This #block helper will pull data from the hero partial
    to inject styles of the hero image to make it responsive --}}
    {{{block "herobackground"}}}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.20.0/tocbot.min.css" integrity="sha512-a/fdL49R0f7ZkWXAaVeKvAoIQYcc90fqoAv0aZnfSDD5onvu8Z1QEiiulgDlNVp2x1B9H+WkxtsGLeZkk1gYGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      .gh-content {
        position: relative;
      }

      .gh-toc > .toc-list {
        position: relative;
      }

      .toc-list {
        overflow: hidden;
        list-style: none;
      }

      @media (min-width: 1300px) {
        .gh-sidebar {
          position: absolute;
          top: 0;
          bottom: 0;
          right: -40%;
          margin-top: 0vmin;
          grid-column: wide-start / main-start; /* Place the TOC to the left of the content */
        }

        .gh-toc {
          position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
          top: 10vmin;
        }
      }

      .gh-toc .is-active-link::before {
        background-color: var(--ghost-accent-color); /* Defines TOC   accent color based on Accent color set in Ghost Admin */
      }
    </style>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- This style overrides the accent color to match the one from the Admin --}}
    <style>
      :root {
        --primary-subtle-color: var(--ghost-accent-color) !important;
      }
    </style>

    {{!-- These variables are used to make the search form work --}}
    <script>
      // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
      const ghostHost = "{{@site.url}}"
      // @license-end
    </script>

    {{#if @custom.enable_native_search}}
      <script>
        const nativeSearchEnabled = true
      </script>
    {{/if}}

    {{#if @custom.search_api_key}}
      <script>
        const ghostSearchApiKey = "{{@custom.search_api_key}}"
      </script>
    {{/if}}

    {{!-- This variable disbale the fade animation when it's enabled --}}
    {{#if @custom.disable_fade_animation}}
      <style>
        :root {
          --show-fade-animation: 0;
        }
      </style>
    {{/if}}

    {{!-- This script sets the correct theme mode (light or dark) --}}
    <script>
      if (typeof Storage !== 'undefined') {
        const currentSavedTheme = localStorage.getItem('theme')

        if (currentSavedTheme && currentSavedTheme === 'dark') {
          document.documentElement.setAttribute('data-theme', 'dark')
        } else {
          document.documentElement.setAttribute('data-theme', 'light')
        }
      }
    </script>
  </head>
  <body class="{{body_class}}">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- Search form --}}
    {{^if @custom.enable_native_search}}
      {{> search}}
    {{/if}}

    {{!-- The footer --}}
    {{> footer}}

    {{!-- Common scripts shared between pages --}}
    <script defer src="{{asset "js/manifest.js"}}"></script>
    <script defer src="{{asset "js/vendor.js"}}"></script>
    <script defer src="{{asset "js/app.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files --}}
    {{{block "scripts"}}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.20.0/tocbot.min.js" integrity="sha512-aeQPIoprk35kvJYUFH4nhvm+ASgaUHHBfJQLEfizXatcdcrWFIzNNpG/lf70ePbB1cplRQ2I5/XyMLMZJHFRzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{! Initialize Tocbot after you load the script }}
    <script>
      tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.gh-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-post-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2',
        // Ensure correct positioning
        hasInnerContainers: true,
        // Headings that match the ignoreSelector will be skipped.
        ignoreSelector: '.js-toc-ignore',
      });
    </script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
